<!DOCTYPE html>
<html>
<title>JustDoIt</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}

<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding"
     style="z-index:3;width:280px;font-weight:bold;"
     id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
       style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">

        <ul class="language-icons">
            <a href="{{ path(app.request.attributes.get('_route'), {_locale: 'pl'}) }}">
                <li>{% image '@AppBundle/Resources/public/images/pl_flag_round.png' %}
                    <img src="{{ asset_url }}" alt="Polish language"/>
                    {% endimage %}</li>
            </a>
            <a href="{{ path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">
                <li>{% image '@AppBundle/Resources/public/images/us_flag_round.png' %}
                    <img src="{{ asset_url }}" alt="US language"/>
                    {% endimage %}</li>
            </a>
            <a class="loginLink" href="login">Sign up</a>
            {% block addRecipeButton %}
            {% endblock %}
        </ul>

    </div>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>JustDoIt Team</b></h3>
    </div>
    <div class="w3-bar-block">
        {% block sidebar %}
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">{% trans %}
            home.text{% endtrans %}</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">{% trans %}
            about.text{% endtrans %}</a>
        <a href="#recipes" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">{% trans %}
            recipes.text{% endtrans %}</a>
        <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">{% trans %}
            designers.text{% endtrans %}</a>
        {% endblock %}

    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>JustDoIt</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" style="margin-top:80px" id="about">
        <h1 class="w3-jumbo"><b>Food recipes</b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>About.</b></h1>
        <hr style="width:100px;border:3px solid red" class="w3-round">
        {% block about %}
        {% endblock %}
    </div>
    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>

    <!-- Recipes -->
    <div class="w3-container" id="recipes" style="margin-top:20px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Recipes.</b></h1>
        <hr style="width:100px;border:3px solid red" class="w3-round">
        {% block recipes %}
        {% endblock %}
        <img src="http://cdn.jamieoliver.com/recipe-database/xtra_med/5NNweMcpK-099-lYx3P2t_.jpg"
             alt="Shrimp & Black Bean Quesadillas">
    </div>

    <!-- Designers -->
    <div class="w3-container" id="designers" style="margin-top:20px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Designers.</b></h1>
        <hr style="width:100px;border:3px solid red" class="w3-round">
        {% block designers %}
        {% endblock %}
    </div>

    <!-- The Team -->
    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <div class="w3-container">
                    <h3>Jakub Witczak</h3>
                    <p class="w3-opacity">Designer</p>
                </div>
            </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <div class="w3-container">
                    <h3>Jakub Karło</h3>
                    <p class="w3-opacity">Designer</p>
                </div>
            </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <div class="w3-container">
                    <h3>Nickoli Spence</h3>
                    <p class="w3-opacity">Designer Ninja Chef</p>
                </div>
            </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <div class="w3-container">
                    <h3>Belemir Cilingir</h3>
                    <p class="w3-opacity">Designer</p>
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="w3-container" id="contact" style="margin-top:75px">
            {% block addRecipe %}
            {% endblock %}
        </div>


</body>
</html>
